* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
	bottom: 10px;
	right: 10px;
  }
  
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2ebd94;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Dark Mode */
  body.dark-mode {
    background-color: #333; /* Dark mode background color */
    color: #fff; /* Dark mode text color */
  }
.header {
	position: fixed;
	z-index: 111;
	top: 0;
	left: 0;
	width: 100%;
	background: #00000067;
	backdrop-filter: blur(5px);
}
.header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.logo {
	font-size: 35px;
	text-decoration: none;
	padding: 10px;
	float: left;
	display: block;
	color: #2ebd94;
	font-weight: 700;
}
.header .menu a {
	padding: 15px 25px;
	font-size: 20px;
	display: block;
	color: #2ebd94;
	text-decoration: none;
}
.header .menu a2 {
	padding: 15px 25px;
	font-size: 20px;
	display: block;
	color: #2ebd94;
	text-decoration: none;
}
.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .3s ease-out;
}
.header .menu a {
	color: #2ebd94;
}
.header .menu a2 {
	color: #2ebd94;
}
.header .menu a:hover {
	background: #2ebd94;
	color: #fff;
}
.header .menu a2:hover {
	background: #2ebd94;
	color: #fff;
	cursor: pointer;
}
.header .menu-icon {
	position: relative;
	float: right;
	padding: 30px 20px;
	cursor: pointer;
}
.header .nav-icon {
	position: relative;
	display: block;
	height: 2px;
	width: 30px;
	background: #2ebd94;
}
.header .menu-icon .nav-icon::before {
	position: absolute;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	background: #2ebd94;
	top: 7px;
	transition: all .2s ease-out;
}
.header .menu-icon .nav-icon::after {
	position: absolute;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	background: #2ebd94;
	top: -7px;
	transition: all .2s ease-out;
}
.header .menu-btn {
	display: none;
}
.header .menu-btn:checked~.menu {
	max-height: 600px;
}
.header .menu-btn:checked~.menu-icon .nav-icon {
	background: transparent;
}
.header .menu-btn:checked~.menu-icon .nav-icon::before {
	transform: rotate(-45deg);
	top: 0;
}
.header .menu-btn:checked~.menu-icon .nav-icon::after {
	transform: rotate(45deg);
	top: 0;
}
.banner {
	background-image: url(2.jpg);
	width: auto;
	height: auto;
	background-size: cover;
	background-position: center center;
}
.na {
	display: flex;
	height: 100vh;
	color: #fff;
	justify-content: center;
	align-items: center;
	margin-right: 100px;
	text-align: left;
	background-size: cover;
}
.content h2 {
	color: #000;
	font-family: 'Bebas Neue', cursive;
	font-size: 42px;
	margin-left: 50px;
}
.content h2 span {
	color: #2ebd94;
}
.content p {
	color: rgba(0, 0, 0, 0.5);
	font-weight: 500;
	margin-left: 30px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.content a {
	background: #2ebd94;
	text-decoration: none;
	color: #fff;
	padding: 10px 50px;
	overflow: hidden;
	display: inline-block;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	margin-top: 25px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
}

  .container {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 10px auto;
	align-items: center;
	max-width: 400px;
	flex-wrap: wrap;
	z-index: 1;
  }
  
  .container .card {
	position: relative;
	width: 240px;
	height: 100px;
	margin: 30px;
	justify-content: center;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: #333;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
  }
  
  .container .card .contents {
	padding: 20px;
	text-align: center;
	transform: translateY(50px);
	transition: .7s;
  }
  
  .container .card:hover .contents {
	transform: translateY(-50px);
  }
  
  .container .card .contents h2 {
	position: absolute;
	top: 35px;
	right: 0;
	font-size: 8em;
	color: rgba(255, 255, 255, 0.05);
	pointer-events: none;
  }
  
  .container .card .contents h3 {
	font-size: 2em;
	color: #fff;
	margin-top: 40px;
	z-index: 1;
  }
  
  .container .card .contents a {
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	margin-top: 65px;
	background: #fff;
	color: #000;
	border-radius: 20px;
	text-decoration: none;
	font-weight: 500;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .social-icon a{
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	margin-bottom: 50px;
	font-size: 1em;
	color: white;
  }
  
  @keyframes animate {
	  0% {
		  background-position: 0% 50%;
	  }
	  50% {
		  background-position: 100% 50%;
	  }
	  100% {
		  background-position: 0% 50%;
	  }
  }

  @media (max-width: 850px) {
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
		top: -6px;
		bottom: 10px;
		left: 25px;
	  }
	  .switch input { 
		opacity: 0;
		width: 0;
		height: 0;
	  }
	  
}
  @media only screen and (min-width:850px) {
	.banner {
		background-image: url(1.jpg);
		height: 100vh;
		background-size: cover;
		background-position: center center;
	}
	.header {
        padding-right: 0px;
        padding-left: 50px;
	}
	.content p {
		color: rgba(0, 0, 0, 0.5);
		font-weight: 500;
		margin-left: 50px;
	}
	.header .menu a {
		all: unset;
		color: #2ebd94;
        padding: 0px 20px;
        font-size: 20px;
	}
	.header .menu a2 {
		all: unset;
		color: #ffffff;
        padding: 10px 20px;
        border-radius: 30px;
        background: #21896c;
	}
    .header .menu a:hover {
        background: #21896c;
        color: #fff;
        padding: 10px 20px;
        border-radius: 30px;
    }
	.header .menu a2:hover {
        background: #21896c;
        color: #fff;
        padding: 10px 20px;
        border-radius: 30px;
    }
	.header .menu {
		all: unset;
		float: right;
		padding-right: 50px;
	}
	.header ul li {
		list-style: none;
		display: inline-block;
	}
	.header ul li {
		color: #fff;
		font-size: 20px;
		padding: 20px 10px;
		cursor: pointer;
	}
	.header .menu-icon {
		display: none;
	}
	.content h2 {
		font-size: 70px;
	}
	.container .card {
		position: relative;
		width: 280px;
		height: 100px;
		margin: 30px;
		justify-content: center;
		box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
		border-radius: 15px;
		background: #333;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		border-left: 1px solid rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(5px);
	  }
	.na {
		display: flex;
		height: 100vh;
		color: #fff;
		justify-content: center;
		align-items: center;
		margin-right: 400px;
		text-align: left;
		background-size: cover;
	}
}
@media (max-width: 600px) {
	.banner {
		background-position: 65%;
	}
	.content {
		text-align: left;
		padding-left: 5%;
	}
}